html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #000000;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.text h1 {
    color: #f59b00;
    margin-top: -200px;
    font-size: 15em;
    text-align: center;

    font-family: monospace;
    font-weight: bold;
}

.text h2 {
    color: #a2a2a2;
    font-size: 5em;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: -150px;
    font-family: monospace;
    font-weight: bold;
}

.text h3 {
    color: white;
    margin-left: 30px;
    font-size: 2em;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.7);
    margin-top: -40px;
    font-family: monospace;
    font-weight: bold;
}

.torch {
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    top: calc(50%);
    left: calc(50%);
    box-shadow: 0 0 0 9999em #000000f7;
    opacity: 1;
    border-radius: 50%;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
}

.torch:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 40px 2px #bbbbbb, 0 0 20px 4px #998d77;
}