

body {
    background: #000000;
    font-family: Arial;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.logo{

    display: flex;
	justify-content: center;
	align-items: center;
	 height: 50vh;
	flex-direction: column;

}
*{
	font-family: sans-serif;
	box-sizing: border-box;
}
.account {
  width: 100%;
    position: absolute;
        top: 0px;
        right: 0px;
        color: #fff;
        border: 2px solid rgb(233, 140, 0);
	padding: 30px;
	background: rgb(218, 123, 0);
	border-radius: 15px;
    }
    .logout {
      width: 74%;
        position: absolute;
            top: 15px;
            right: 0px;
            color: #fff;
            
        }
        .uploadStuff {
 position: absolute;
        top: 159px;
        right: 18%;
            width: 500px;
            border: 2px solid rgb(233, 140, 0);
            padding: 30px;
            background: rgb(218, 123, 0);
            border-radius: 15px;
        }
        input {
            display: block;
            border: 2px solid rgb(0, 0, 0);
            width: 95%;
            padding: 10px;
            margin: 10px auto;
            border-radius: 5px;
        }

        label {
            color: rgb(0, 0, 0);
            font-size: 18px;
            padding: 10px;
        }
        button {
            float: right;
            background: rgb(0, 0, 0);
            padding: 10px 15px;
            color: #fff;
            border-radius: 5px;
            margin-right: 10px;
            border: none;
        }
        button:hover{
            opacity: 0.7;
        }
        .ca {
            font-size: 14px;
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        .ca:hover {
            text-decoration: underline;
        }
        
.square {
  height: 500px;
  width: 50px;
  background-color: #0000;
}
