

body {
    font-family: Arial;
    

#context{
    vertical-align: middle;
 /*   position: absolute;
    top: 31%;
    left: 35.5%; 
    text-align:center; */
     border-radius: 1em;
        padding: 1em;
        position: absolute;
       /* top: 50%;
        left: 50%;
    */
        margin-right: -50%;
        transform: translate(-50%, -50%) 
     display: inline-block;
  vertical-align: middle;
  line-height: normal;

    }
