

body {
    font-family: Arial;

    .search-box{
        
        position: aboslute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) 
        background: ##ff7b00;
        height: 40px;
            border-radius: 40px;
        padding: 10px;
        
    }
    
    
    
    
#context{
 /*   position: absolute;
    top: 31%;
    left: 35.5%; 
    text-align:center; */
     border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    color: white;
  
     margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

    }
