

body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

#box{
    border-radius: 25px;
    background: grey;
 
    width: 30vw;
    height: 10vw;  
    position: absolute;
    top: 34%;
    left: 35%;
}


form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #ff6600;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #e65c00;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
#centerSearch{
    position: absolute;
    top: 40%;
    left: 39%;
}
#context{
    position: absolute;
    top: 31%;
    left: 36%;
    color: white;
    font-size: 17px;
}
