body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ff6600;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #e65c00;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

<!-- upload button-->

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: right;
}

.btn {
  border: 2px solid #ff6600;
  color: white;
  background-color: #ff6600;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  float: right;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  float: right;
}