:root {
    --text-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #000000;
}

.white {
    color: var(--text-color);
}